
h3{
    background-color: darkgrey; color: white; padding: 10px 0 10px 20px; width: 100%;
    text-align: center;
}
.row{
    text-align: -webkit-center;
}
h4{
    background-color: darkgrey; color: white; padding: 10px 0 10px 20px; width: 100%;
    text-align: center;
}
footer{margin: 10px 0;}

footer{margin: 10px 0;}
#cities {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#cities td, #cities th {
    border: 1px solid #ddd;
    padding: 8px;
}
.btn-primary{
    color: #000000 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}
#spacer2{
    border: 1px solid darkgray;
    width: 23%;
    border-radius: 0%;
    background-image: linear-gradient(
            45deg
            , #b0cad8, transparent);
}
#spacer1{
    border: 1px solid darkgray;
    width: 23%;
    border-radius: 0%;
    background-image: linear-gradient(
            45deg
            , #b0cad8, transparent);
}
#cities tr:nth-child(even){background-color: #f2f2f2;}

#cities tr:hover {background-color: #ddd;}

#country{
    width: 100%;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

#cities th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: gray;
    color: white;
}

#select1{
    padding: 1%;
    width: 100%;
}
input[type=text],input[type=email]{
    width: 100%;
    padding: 12px 0px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 300px;
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

input[type=submit]:hover {
    background-color: darkgrey;
}

.back{
    height: 50px;
    width: 300px;
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.back > a{
    color: white !important;
    text-decoration: none !important;
}

.create-form > a{
    color: white !important;
    text-decoration: none !important;
}

.back:hover{
    background-color: darkgrey;
}

.row{
    display: flex;
}

.row > *{
    text-align: left;
}

.col-md-6{
    width: 50%;
}

#form{
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.error{
    color: red !important;
}
.notify span{font-size: 15px; color: blue;}